.cards {
    width: 250px;
    height: 300px;
}

.cont {
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgb(78 45 115 / 100%), transparent);

    .opt{
        width: 2rem;
        height: 2rem;
    }

    .play {
        width: 3rem;
        height: 3rem;
    }
}